@charset "utf-8";
/* CSS Document */

#body {
	margin-left: 50px;
	
	
	
	
}
	.service{
		background-color:peru;
		color:firebrick;
		padding: 15px;
		margin: 10px;
		border-radius: 5px;
	}
	
	
	#carousel { 
	display:block;
	
	}
	
	@media screen and (max-width:300px)
	{
		#carousel {
			display: none; 
		}
	}
	
		
		
		
		
		
	#footerWrap{
		background-color: darkslategrey;
		padding: 40px 0;
		margin-top: 40px;	}
	#footerWrap p { 
	color:darkgray;}
	
	
	#recensione1{
		
		margin:10px;
		width:200 px;
		height:200px;
		border: 3px solid;
		border-color:red;
		box-shadow:5px 5px 12px #000;
		
		
		
		}
		
		
	#recensione2{
		
		margin:10px;
		width:200 px;
		height:200px;
		border: 3px solid;
		border-color:red;
		box-shadow:5px 5px 12px #000;
		
		
		}
		
		
	#recensione3{
		margin:10px;
		width:200 px; 
		height:200px;
		border: 3px solid;
		border-color:red;
		box-shadow:5px 5px 12px #000;
		
		
		
	}
	
	



	#recensione4{
		margin:10px;
		width:200 px;
		height:200px;
		border: 3px solid;
		border-color:red;
		box-shadow:5px 5px 12px #000;
		
		
		}
	
	
	
	.scrollable {
		
		height:400px;
		overflow:scroll;
		
		
		
		
}
		
		
		
		







		
	